<h1>Authentications#index</h1>
<p>Find me in app/views/authentications/index.html.erb</p>

<!-- Destroy authentications works for now, but we only want to use one so no point in allowing -->
<!-- 
<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <div class="uid"><%= authentication.provider %></div>
          <%= link_to "X", authentication.destroy, :class => "remove" %> 
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>
 -->
<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
